html, body {
  font-family: 'Montserrat', sans-serif;
  background-color: #1a1a1a;
  background-image: url("./data/background.png");
  background-size: cover;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.img-container {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  max-width: 100%;
  height: auto;
}

/* Authentication page styling */
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.form-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.input-field {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.auth-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.auth-button:hover {
  background-color: #0069d9;
}

.auth-toggle {
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
}

.auth-toggle:hover {
  text-decoration: underline;
}